#  Trunk — Toolchain configuration

# --- Cross compiler ----------------------------------------------------------
CXX               := x86_64-elf-g++
AS                := x86_64-elf-as
NASM              := nasm
LD                := x86_64-elf-ld
AR                := x86_64-elf-ar
OBJCOPY           := x86_64-elf-objcopy
OBJDUMP           := x86_64-elf-objdump
NM                := x86_64-elf-nm
READELF           := x86_64-elf-readelf
STRIP             := x86_64-elf-strip

# --- Host tools --------------------------------------------------------------
PYTHON            := python3
PARTED            := parted
MKFAT             := mkfs.fat
GRUB_MKRESCUE     := grub-mkrescue
GRUB_INSTALL      := grub-install